<div class="my-5">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Payments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Wishlist</a>
  </li>

</ul>
</div>
