<div class="container mt-3">
  <h2>Your profile</h2>
  <p class="mt-3">
    <strong>Name</strong>: <%= "#{@user.first_name} #{@user.last_name}" %><br>
    <strong>Email</strong>: <%= @user.email %>
  </p>
  <p>
    <strong>Account number</strong>: <%= @user.customer_number %>
  </p>
  <p>
    <strong>Address</strong>: <%= "#{@user.street_name}, #{@user.street_number}, #{@user.zip} #{@user.city}" %>
  </p>
</div>