<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= asset_url('banner-travel.jpg') %>');">
  <div class="container text-center">
    <h1>Welcome to Travel Dream </strong></h1>
    <p> We make your travel dreams come true! </p>
  </div>
</div>

<div class= "container middle ">

  <div class="text-center mt-5 mb-5">
    <p>
      <%= submit_tag "Start", class: "btn btn-success mt-5" %>
    </p>
  </div>

</div>