<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url('<%= asset_url('banner-travel.jpg')%>');">

    <div class="container text-center">
      <h1>Welcome to Travel Dream</h1>
      <p> We make your travel dreams come true!</p>
    </div>

    <div class="text-center mt-5 mb-5">
      <%= submit_tag "Start", class: "btn btn-success btn-lg mt-5" %>
    </div>

  </div>

  <div class="text-center mt-5 mb-5">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.  consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>

</div>







