  <div class="container-banner">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url('<%= asset_url('banner-travel.jpg')%>');">

    <div class="container text-center p-5">
      <h1>Welcome to Travel Dream</h1>
      <p> We make your travel dreams come true!</p>

      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control w-100 form-group">
        <input class="form-control string required" type="text" placeholder="Where do you want to go next?" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-success btn-flat">
        <i class="fas fa-search"></i> Search
        </button>

      </div>
      <% end %>
    </div>

  </div>
</div>
