<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= asset_url('banner-wind.jpg') %>');">
  <div class="container text-center">
    <h1>Welcome to Some Company </strong></h1>
    <p> It does exactly what it says on this website </p>
  </div>
</div>

<div class= "container middle ">

  <div class="text-center mt-5 mb-5">
    <p>
        Silence is golden.
    </p>
  </div>

</div>