.navbar-lewagon {
  justify-content: space-between;
  background: #FFFFFF;
  padding: 10px 40px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 190px;

}
.dropdown-item {

  color: #541763;
  font-size: 16px;
  .dropdown-item:hover{
    background: white;
  }
}
  .navbar-lewagon {
  .avatar{
    cursor: pointer;
    margin-top: 8px;
  }
  }



